@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google Sans Regular";
  src: url("/fonts/GoogleSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans Medium";
  src: url("/fonts/GoogleSans-Medium.woff2") format("woff2");
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
